<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :book_name %>
    
     <%= form.text_field :book_name, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :author %>
     <%= form.text_field :author, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :category %>
    <%= form.text_field :category, class:"form-control" %> 
  </div>

  <div class="field mb-3">
    <%= form.label :price %>
    <%= form.number_field :price, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-secondary'%>
  </div>
<% end %>
